body {
	background-color: #222;
	color: #ddd;
	font-size: 11px;
	font-family: 'Ubuntu', sans-serif;
}

button {
	border: 1px solid #222;
	color: #aaa;
	padding: 4px 6px;
	background-color: #444;
}

button:hover {
	background-color: #353535;
}

.container {
	margin: 10px auto;
	position: relative;
	border: 1px solid #555;
	width: 800px;
	height: 700px;
	background-color: #333;
}

.spritelist {
	position: relative;
	width: 800px;
	height: 420px;
	overflow-x: scroll;
	border: 1px solid #555;
	background-color: #333;
	margin: 10px auto;
}

.spritelist img {
	float: left;
	margin: 0 5px;
}

.canvas {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 380px;
	height: 380px;
	background-color: #000;
	border: 1px solid #444;
}

.system-edit {
	position: absolute;
	top: 0;
	left: 400px;
	width: 400px;
	height: 400px;
}

/* Status */
.status {
	margin: 10px;
	width: 380px;
	height: 60px;
	border: 1px solid #444;
	background-color: #252525;
	line-height: 28px;
	font-weight: 500;
	padding: 0 10px;
	box-sizing: border-box;
}

/* Emitter list */
.emitter-list {
	margin: 10px;
	width: 380px;
	height: 142px;
	border: 1px solid #444;
	background-color: #252525;
}

.emitter-list > button {
	width: 380px;
	height: 30px;
}

.emitter-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 380px;
	height: 112px;
	overflow-y: scroll;
}

.emitter-list ul li {
	width: 360px;
	height: 30px;
	border-bottom: 1px solid #444;
	line-height: 30px;
}

.emitter-list ul li.active {
	background-color: #333;
}

.emitter-list ul li span {
	margin-left: 20px;
}

.emitter-list ul li button {
	float: right;
	margin: 2px 1px;
}

/* Emitter Edit */
.emitter-right-edit {
	position: relative;
	width: 380px;
	height: 200px;
	margin: 10px;
	border: 1px solid #444;
}

.emitter-edit {
	position: absolute;
	top: 400px;
	left: 0;
	width: 800px;
	height: 300px;
}

.emitter-edit .column {
	width: 33.3%;
	height: 300px;
	float: left;
	border-right: 1px dashed #444;
	box-sizing: border-box;
}

.emitter-edit .column:last-child {
	border-right: none;
}

.setting {
	padding: 5px 0;
	position: relative;
	width: 100%;
	border-bottom: 1px dashed #444;
}

.setting:last-child {
	border-right: none;
}

.clear {
	clear: both;
}

.clear:after {
	clear: both;
	content: " ";
}

.setting-title {
	width: 33%;
	float: left;
	padding-top: 20px;
	text-align: left;
	text-indent: 10px;
	font-size: 12px;
	font-weight: 500;
}

.setting .input-col-4 {
	position: relative;
	float: left;
	width: 16%;
}

.setting .input-col-2 {
	position: relative;
	float: left;
	width: 33%;
}

.setting .input-col-1 {
	position: relative;
	float: left;
	width: 66%;
}

.setting .title {
	position: relative;
	width: 100%;
	text-align: center;
}

.setting input {
	margin: 5px;
	width: 80%;
	color: #fff;
	background: #222;
	text-align: center;
	border: 1px solid #000;
}

.setting select {
	margin: 5px;
	width: 80%;
	color: #fff;
	background: #222;
	text-align: center;
	border: 1px solid #000;
}